.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: green;
    border: 1px solid teal;
    border-radius: 5px;
}

.animal-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}